@using JCTools.GenericCrud.Helpers
@model JCTools.GenericCrud.Models.CrudAction
@{
    var url = ViewData["Url"] ?? "#";
    
}
@if(Model.Visible)
{
    @if (Model.UseSubmit){
        <button type="submit" title="@Model.Caption" class="@Model.ButtonClass">
            @if(string.IsNullOrWhiteSpace(Model.IconClass))
            {
                @Model.Text
            }
            else 
            {
                <i class="@Model.IconClass" aria-hidden="true"></i>
            }
        </button>
    }
    else 
    {
        <a href="@url" title="@Model.Caption" class="@Model.ButtonClass">
            @if(string.IsNullOrWhiteSpace(Model.IconClass))
            {
                @Model.Text
            }
            else 
            {
                <i class="@Model.IconClass" aria-hidden="true"></i>
            }
        </a>
    }
}
    