@using JCTools.GenericCrud.Helpers
@model JCTools.GenericCrud.Models.CrudAction

@if(Model.Visible)
{
    @if (Model.UseSubmit || Model.UseModals)
    {
        <button type="@(Model.UseSubmit ? "submit": "button")" onclick="@Model.OnClientClick" data-url="@Model.Url" title="@Model.Caption" class="@Model.ButtonClass">
            @if(string.IsNullOrWhiteSpace(Model.IconClass) || Model.UseText)
            {
                @Model.Text
            }
            else 
            {
                <i class="@Model.IconClass" aria-hidden="true"></i>
            }
        </button>
    }
    else 
    {
        <a href="@Model.Url" title="@Model.Caption" class="@Model.ButtonClass">
            @if(string.IsNullOrWhiteSpace(Model.IconClass))
            {
                @Model.Text
            }
            else 
            {
                <i class="@Model.IconClass" aria-hidden="true"></i>
            }
        </a>
    }
}
    