@using JCTools.GenericCrud.Helpers
@model JCTools.GenericCrud.Models.CrudAction
@{
    var usePopups = (bool)(ViewData["UsePopups"]  ?? false);
    var url =  ViewData["Url"] ?? "#";
    var onClick = ViewData["OnClick"] ?? "genericCrud.showModal.call(this)";
    var useText = (bool)(ViewData["UseText"] ?? false);
}

@if(Model.Visible)
{
    @if (Model.UseSubmit || usePopups)
    {
        <button type="@(Model.UseSubmit ? "submit": "button")" onclick="@onClick" data-url="@url" title="@Model.Caption" class="@Model.ButtonClass">
            @if(string.IsNullOrWhiteSpace(Model.IconClass) || useText)
            {
                @Model.Text
            }
            else 
            {
                <i class="@Model.IconClass" aria-hidden="true"></i>
            }
        </button>
    }
    else 
    {
        <a href="@url" title="@Model.Caption" class="@Model.ButtonClass">
            @if(string.IsNullOrWhiteSpace(Model.IconClass))
            {
                @Model.Text
            }
            else 
            {
                <i class="@Model.IconClass" aria-hidden="true"></i>
            }
        </a>
    }
}
    