@using JCTools.GenericCrud.Helpers
@model JCTools.GenericCrud.Models.CrudAction
@{
    var usePopups = (bool)(ViewData["UsePopups"]  ?? false);
    var url = ViewData["Url"] ?? "#";
    var onClick = ViewData["OnClick"] ?? "genericCrud.showModal.call(this)";
}

@if(Model.Visible)
{
    @if (Model.UseSubmit){
        <button type="submit" title="@Model.Caption" class="@Model.ButtonClass">
            @if(string.IsNullOrWhiteSpace(Model.IconClass))
            {
                @Model.Text
            }
            else 
            {
                <i class="@Model.IconClass" aria-hidden="true"></i>
            }
        </button>
    }
    else if(usePopups){
        <a onclick="@onClick" data-url="@url" title="@Model.Caption" class="@Model.ButtonClass">
            @Model.Text            
        </a>
    }
    else 
    {
        <a href="@url" title="@Model.Caption" class="@Model.ButtonClass">
            @if(string.IsNullOrWhiteSpace(Model.IconClass))
            {
                @Model.Text
            }
            else 
            {
                <i class="@Model.IconClass" aria-hidden="true"></i>
            }
        </a>
    }
}
    