@using JCTools.GenericCrud.Helpers
@using Microsoft.AspNetCore.Mvc.Localization
@model JCTools.GenericCrud.Models.ICrudDetails
@inject IViewLocalizer Localizer

@{
    Layout = Model.UsePopups ? string.Empty : Model.LayoutPage;
    ViewData["Title"] = Model.Title;
    var values = @Model.GetModelValues();
    
    Model.IndexAction.Url = Url.Action("Index");
    Model.DeleteAction.Url = Url.Action("DeleteConfirm", new { id = Model.GetId() } );
}
@if (!Model.UsePopups)
{
    <h2>@Model.Title</h2>
    <h3>@Model.Subtitle</h3>
}
<div class="row">
    <dl class="dl-horizontal">
        @foreach(var value in values)
        {
            if (value.Visible)
            {
                <dt>
                    @value.Display
                </dt>
                <dd>
                    @value.Value
                </dd>
            }
        }
    </dl>
</div>
@if (!Model.UsePopups)
{
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_action", Model.IndexAction)
            @if (ViewBag.IsDelete == true)
            {
                @Html.Partial("_action", Model.DeleteAction)
            }
        </div>
    </div>
}
