@using JCTools.GenericCrud.Helpers
@model JCTools.GenericCrud.Models.ICrudDetails
@{
    Layout = Model.LayoutPage;
    ViewData["Title"] = Model.Title;
    var values = @Model.GetModelValues();
}

<h2>@Model.Title</h2>
<h3>@Model.Subtitle</h2>
<div class="row">
    <dl class="dl-horizontal">
        @foreach(var value in values)
        {
            if (value.Visible)
            {
                <dt>
                    @value.Display
                </dt>
                <dd>
                    @value.Value
                </dd>
            }
        }
    </dl>
</div>
<div class="row">
    <div class="col-md-12">
        @{
            var data = new ViewDataDictionary(this.ViewData) 
            { 
                { "Url", Url.Action("Index") }
            };
        }
        @Html.Partial("_action", Model.IndexAction, data)
        @if (ViewBag.IsDelete == true)
        {
            data = new ViewDataDictionary(this.ViewData) 
            { 
                { "Url", Url.Action("DeleteConfirm", new { id = Model.GetId() } ) }
            };
            @Html.Partial("_action", Model.DeleteAction, data)
        }
    </div>
</div>