@using JCTools.GenericCrud.Models
@using Microsoft.AspNetCore.Mvc.Localization
@model JCTools.GenericCrud.Models.IDetailsModel
@inject IViewLocalizer Localizer

@{
    Layout = Model.UseModals ? string.Empty : Model.LayoutPage;
    ViewData["Title"] = Model.Title;
    var entity = @Model.GetData();
}
@if (!Model.UseModals)
{
    <h2>@Model.Title</h2>
    <h3>@Model.Subtitle</h3>
}
<div class="row">
    <dl class="dl-horizontal">
        @foreach (var property in entity.VisibleProperties)
        {
            <dt>
                @property
            </dt>
            <dd>
                @entity.GetPropertyValue(property)
            </dd>
        }
    </dl>
</div>
@if (!Model.UseModals)
{
    <div class="row">
    <div class="col-md-12">
        @Html.Partial("_action", Model.IndexAction)
        @if (Model.CurrentProcess == CrudProcesses.Delete)
        {
            @Html.Partial("_action", Model.DeleteAction)
        }
        </div>
    </div>
}
