@using JCTools.GenericCrud.Helpers
@model JCTools.GenericCrud.Models.ICrudDetails
@{
    Layout = Model.LayoutPage;
    ViewData["Title"] = Model.Title;
    var values = @Model.GetModelValues();
}

<h2>@Model.Title</h2>
<h3>@Model.Subtitle</h2>
<div class="row">
    <dl class="dl-horizontal">
        @foreach(var value in values)
        {
            if (value.Visible)
            {
                <dt>
                    @value.Display
                </dt>
                <dd>
                    @value.Value
                </dd>
            }
        }
    </dl>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default"  >Go back</button>
    </div>
</div>