@using JCTools.GenericCrud.Helpers

@inject JCTools.GenericCrud.Services.IViewRenderService RenderingServices

@model JCTools.GenericCrud.Models.ICrudDetails

@{
    Layout = Model.LayoutPage;
    ViewData["Title"] = Model.Title;
    var values = @Model.GetModelValues();
}

<h2>@Model.Title</h2>
<h3>@Model.Subtitle</h2>
<div class="row">
    <form asp-action="Edit" method="POST" asp-anti-forgery="true">
        @foreach(var value in values)
        {
            if (value.Visible)
            {
                <div class="form-group row">
                    <label class="col-md-2 text-right" for="@value.Name">@value.Display</label>
                    <div class="col-md-10">
                        @await RenderingServices.CreateEditorForAsync(Model, Html, value.Name)
                    </div>
                </div>
            }
            else 
            {
                @await RenderingServices.CreateEditorForAsync(Model, Html, value.Name, "HiddenFor")
            }
        }
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        @{
            var data = new ViewDataDictionary(this.ViewData) 
            { 
                { "Url", Url.Action("Index") }
            };
        }
        @Html.Partial("_action", Model.IndexAction, data)

    </div>
</div>