@inject JCTools.GenericCrud.Services.IViewRenderService RenderingServices
@using Microsoft.AspNetCore.Mvc.Localization
@model JCTools.GenericCrud.Models.IEditModel
@inject IViewLocalizer Localizer

@{
    Layout = Model.UseModals ? string.Empty : Model.LayoutPage;
    ViewData["Title"] = Model.Title;
    var entity = @Model.GetData();
}
@if (!Model.UseModals)
{
    <h2>@Model.Title</h2>
    <h3>@Model.Subtitle</h3>
}
<div class="row">
    <form action="@(Model.UseModals ? "" : ViewBag.Action)" method="POST" asp-anti-forgery="true">
        @foreach (var property in entity.Properties)
        {
            if (property.IsVisible)
            {
                <div class="form-group row">
                    @if (property.UseCustomView)
                    {
                        @await RenderingServices.RenderEditViewFor(Model, Html, ViewData, property.Name)
                    }
                    else
                    {
                        <label class="col-md-2 text-right" for="@property.Name">@property</label>
                        <div class="col-md-10">
                            @await RenderingServices.CreateEditorFor(Model, Html, ViewData, property.Name)
                        </div>
                    }
                </div>
            }
            else
            {
                @await RenderingServices.CreateEditorFor(Model, Html, ViewData, property.Name, "HiddenFor")
            }
        }
        @if (!Model.UseModals)
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_action", Model.IndexAction)
                    @Html.Partial("_action", Model.SaveAction)
                </div>
            </div>
        }
    </form>
</div>