@using JCTools.GenericCrud.Helpers
@model JCTools.GenericCrud.Models.ICrudList
@{
    Layout = Model.LayoutPage;
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>
<h3>@Model.Subtitle</h2>

<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            @foreach(var title in Model.Columns)
            {
                <th>@title</th>
            }
            @if(Model.ActionsColumnIsVisible)
            {
                <th class="text-center">
                    @Html.Partial("_action", Model.NewAction)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(var row in Model.GetModelValues())
        {
            <tr>
                @foreach(var value in row)
                {
                    if (value.Visible)
                    {
                        <td>@value.Value</td>
                    }
                }
                @if(Model.ActionsColumnIsVisible)
                {
                    <td class="text-center">
                        @{
                            var value = row.FirstOrDefault(d => d.Name == Model.KeyPropertyName).Value;
                            var data = new ViewDataDictionary(this.ViewData) 
                            { 
                                { "Url", Url.Action("Details", new { id = value }) }
                            };
                        }
                        @Html.Partial("_action", Model.DetailsAction, data)

                        @{
                            data["Url"] = Url.Action("Edit", new { id = value });
                        }
                        @Html.Partial("_action", Model.EditAction, data)
                        
                        @{
                            data["Url"] = Url.Action("Delete", new { id = value });
                        }
                        @Html.Partial("_action", Model.DeleteAction, data)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>